body{
	background-color: #000; 
	font-family: monospace;
	
}
.page-header{
	height: 320px;
	position:fixed;
	top:0;
	left:0;
	right:0;
	z-index:-1;
	width:100%;
	
	background-repeat: repeat;

}

h1{
	letter-spacing: 0.5em;
	margin-top: 40px;
	color: #fff;
	font-size: 42px;
	
}
h4{
	margin-top: 	0;
	font-size: 17px;
}
.container{
	margin-left: 100px;
	margin-right: 50px;
	text-decoration: none;
}
.e-mail img{
	margin-top: 40px;
	height: 50px;
	width:50px;
	margin-left: 45%;

}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #111;
}

li{
	font-size: 16px;
}
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.Intro-content{
	margin-top: 200px;
	height: 400px;
	font: sans-serif; 
	font-size: 30px;
	color:#ccffff; 

}

/*Typewriting	*/
p{	
	border-right: .05em solid #ccffff; 
	white-space: nowrap;
	overflow: hidden;

}

p:nth-child(1) {
	width: 3.5em;
	animation: type 1s steps(40,end);
	animation-fill-mode: forwards;

}

p:nth-child(2) {
	width: 1500px;
	opacity: 0;
	animation: type2 4s steps(40,end);

	animation-delay: 1.5s;
	animation-fill-mode: forwards;
	

}
p:nth-child(3) {
	width: 	1430px;
	opacity: 0;
	animation: type2 4s steps(40,end);
	animation-delay: 6s;
	animation-fill-mode: forwards;
	
}

p:nth-child(4) {
	width: 1100px;
	opacity: 0;
	animation: type3 3s steps(40,end), cursor-blink .5s step-end infinite alternate;
	animation-delay: 10.60s;
	animation-fill-mode: forwards;
}


@keyframes type{
	from{width: 0;}
	to{width: 100;
		border: none;}
	}

	@keyframes type2{
		0% {
			width: 0;
		}
		1% {
			opacity: 1;
		}
		99.9% {
			border-right: .05em solid #ccffff;
		}
		100% {
			opacity: 1;
			border: none;
		}
	}
	@keyframes type3{
		0% {
			width: 0;
		}
		1% {
			opacity: 1;
		}
		100% {
			opacity: 1;

		}
	}

	@keyframes cursor-blink{
		50%{border-color: transparent;}

	}

	/* ------*/
	.main_nav{
		margin-top: 100px;
		margin-left: 20px;
		width: 100;
		display:flex;
		flex:0 0 100%;
		flex-flow:row wrap;
		justify-content:space-between;
		background-color: #111;
		border-bottom-style: solid;
		border-bottom-color: #333;
		opacity: 75%;

	}
	.main_nav a{
		text-decoration: none;
	}
	.main_nav :hover{
		text-decoration: none;
	}

	.main_nav_list{
		display:flex;
		font-size: 	22px;	
		margin-top:50px;
		padding:0;
		list-style:none;
		
	}
	.main_nav_list :hover{
		color: #99ffff;
		text-decoration: none;
	}
	.main_nav_list_item{
		margin-top: 40px;
		display:inline-block;
		margin:0 25px;
	}
	.main_nav_list_item:first-child{margin-left:0}
	.main_nav_list_item:last-child{margin-right:0}




	/*--decond page--*/
	.about_content{
		margin-left: 140px;
		margin-top: 200px;
		margin-right: 50px
		background-color: #000;
	}
	.about_content img{
		height: 200px;
		width: 100px;
		padding-left: 0;
		margin-left: 0;
		opacity: 75%;

	}

	.about_list{
		font-size: 16px;
		background-color: #000;
		color: #66ffff;
		opacity: 75%;
	}
	.list_item{
		width: 100%;
		display: flex;
		flex-flow:row wrap;
		position:relative;
		opacity:0;
		animation-name:loadingcontent;
		animation-duration:1s;
		animation-fill-mode:forwards;
		animation-timing-function:ease-in-out;
	}

	.list_item:last-child{margin-bottom:0}
	.list_item:nth-child(2){animation-delay:0.5s}
	.list_item:nth-child(3){animation-delay:1s}
	.list_item:nth-child(4){animation-delay:1.5s}
	.list_item:nth-child(5){animation-delay:2s}


	.list_Intro{
		margin-left: 50px;
		width: 220px;
		height: 200px;
	}
	.list_content{
		margin-top: 0;
		width: 800px;
		margin-left: 50px ;
		font-size: 16px;
		color: #eee;
	}
	.list_company{
		margin-top: 0;
		margin-bottom: 0;
		font-size: 17px;
		color: #99ffff;
	}
	a.list_company{
		text-align: left;
		text-decoration: none;
		margin: 0;
		padding: 0;
	}

	.list_role{
		margin-top: 0;
		margin-bottom: 0;
		font-size: 17px;

	}
	.list_date{
		margin-top: 0;
		margin-bottom: 0;
		font-size: 16px;
		color: #ccffff;
	}

	@keyframes loadingcontent{
		from{opacity: 0;}
		to{opacity: 1;}
	}


	.skillbox{
		position:fixed;
		bottom:0;
		right:0;
		z-index:-1;
		width:50%;

	}

	.skillbox img{
		margin-left: 10%;
		margin-bottom: 30px;
		width: 700px;
		height: 500px;
		opacity:0;
		animation-name:loadingskills;
		animation-delay: 1s;
		animation-duration:10s;
		animation-fill-mode:forwards;
		animation-timing-function:ease-in-out;

	}
	@keyframes loadingskills{
		from{opacity: 0;}
		to{opacity: 0.7;}
	}

